<% content_for(:header) do %>
  Filmtastic
<% end %>

<div class="wrapper">
  <iframe
    width="800"
    height="650"
    frameborder="1" style="border:1"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAOrWdN-Ob7lti6iBQrbf9ThMqZO2X8dn0&q=Portland,OR">
  </iframe>
</div>
